* {
  box-sizing: border-box; }

h1, h2, p {
  font-family: Helvetica;
  text-align: center;
  margin: 0;
  padding: 4px;
  line-height: 1.8; }

h1 {
  font-family: 'Gochi Hand', cursive;
  padding-top: 24px;
  padding-bottom: 0;
  color: white; }

header {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center; }
  header p {
    text-align: center;
    padding: 4px 0; }
  header h1 {
    text-align: center;
    font-size: 60px;
    color: gold; }

body {
  margin: 0 auto;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  padding: 10px; }

.game {
  max-width: 800px;
  margin: auto;
  padding: 20px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black; }

.startBoard {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  order: 1;
  padding: 15px; }
  .startBoard .startBoard p {
    color: gold; }
  .startBoard button {
    background-color: grey;
    color: gold;
    margin: 4px; }

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center; }

.welcome {
  background-color: gold;
  align-items: center; }

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.welcomeText {
  padding: 0 100px; }

.farmer img {
  height: 40%;
  width: 40%; }

video {
  height: 300px;
  width: 300px;
  margin: 15px; }

.player1Space {
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  order: 2;
  width: 50%; }

.rePlant button {
  width: 200px;
  margin: 5px 0;
  width: 50%; }

.player2Space {
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  order: 3; }

.billBoard {
  width: 100%;
  height: 100%;
  order: 4;
  display: none; }
  .billBoard p {
    font-size: 50px;
    padding: 100px 0;
    align-items: center; }

.rePlant {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  order: 6;
  padding-top: 100px; }

.player1Grid, .player2Grid {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px 20px 0; }

.player1Grid div, .player2Grid div {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid grey;
  background-color: gold; }

.player1Grid .crop1-lime {
  background-image: url("../images/crop1-lime.png"); }
.player1Grid .crop1-lime.hit {
  background-image: url("../images/crop1-lime-destroyed.png"); }
.player1Grid .crop2-peach {
  background-image: url("../images/crop2-peach.png"); }
.player1Grid .crop2-peach.hit {
  background-image: url("../images/crop2-peach-destroyed.png"); }
.player1Grid .crop3-seedling {
  background-image: url("../images/crop3-seedling.png"); }
.player1Grid .crop3-seedling.hit {
  background-image: url("../images/crop3-seedling-destroyed.png"); }
.player1Grid .crop4-hot-pepper {
  background-image: url("../images/crop4-hot-pepper.png"); }
.player1Grid .crop4-hot-pepper.hit {
  background-image: url("../images/crop4-hot-pepper-destroyed.png"); }
.player1Grid .crop5-carrot {
  background-image: url("../images/crop5-carrot.png"); }
.player1Grid .crop5-carrot.hit {
  background-image: url("../images/crop5-carrot-destroyed.png"); }
.player1Grid .hit {
  background-color: dodgerblue;
  border: green; }
.player1Grid .miss {
  background-color: grey;
  border: green; }

.player2Grid .crop1-lime.hit {
  background-image: url("../images/crop1-lime-destroyed.png"); }
.player2Grid .crop2-peach.hit {
  background-image: url("../images/crop2-peach-destroyed.png"); }
.player2Grid .crop3-seedling.hit {
  background-image: url("../images/crop3-seedling-destroyed.png"); }
.player2Grid .crop4-hot-pepper.hit {
  background-image: url("../images/crop4-hot-pepper-destroyed.png"); }
.player2Grid .crop5-carrot.hit {
  background-image: url("../images/crop5-carrot-destroyed.png"); }
.player2Grid .hit {
  background-color: dodgerblue;
  border: green; }
.player2Grid .miss {
  background-color: grey;
  border: green; }

.scoreBoardPlayer1, .scoreBoardPlayer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.scoreBoardPlayer1 img, .scoreBoardPlayer2 img {
  padding: 0 5px; }

button {
  background: gold;
  color: grey;
  padding: 5px;
  font-size: 20px; }

#reset {
  display: none; }

/*# sourceMappingURL=style.css.map */
