$Background: rgba(250,250,250,0.7);

* {
  box-sizing: border-box;
}

h1, h2, p {
  font-family: Helvetica;
  text-align: center;
  margin: 0;
  padding: 4px;
  line-height: 1.8;
}

h1 {
  font-family: 'Gochi Hand', cursive;
  padding-top: 50px;
  padding-bottom: 0;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  text-align: center;
  p {
    text-align: center;
    padding: 4px 0;
  }
  h1 {
    text-align: center;
    font-size: 100px;
    color: gold;
  }
}

body {
  margin: 0 auto;
  background-color: black;
  background-image: url('../images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  padding: 10px;
}

.game {
  width: 800px;
  margin: auto;
  padding: 20px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2)
}

.startBoard {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player1Space {
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  order: 2;
    // Desktop 50% width
    @media only screen and (min-width: 769px) {
        width: 50%;
    }
}

.player2Space {
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  order: 3;
    // Desktop 50% width
  @media only screen and (min-width: 769px) {
      width: 50%;
  }
}

.billBoard {
  width: 100%;
  height: 100%;
  order: 4;
  display: none;
    p{
      font-size: 50px;
    }
}

.startBoard {
  width: 100%;
  height: 100%;
  order: 1;
  margin: 0 auto;
}

.player1Grid, .player2Grid {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px 20px 0;
}

.player1Grid div, .player2Grid div  {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid grey;
  background-color: gold;
}

.player1Grid {
  .crop1-lime {
    background-image: url('../images/crop1-lime.png');
  }

  .crop1-lime.hit {
    background-image: url('../images/crop1-lime.png');
  }

  .crop2-peach {
    background-image: url('../images/crop2-peach.png');
  }

  .crop2-peach.hit {
    background-image: url('../images/crop2-peach-destroyed.png');
  }

  .crop3-seedling {
    background-image: url('../images/crop3-seedling.png');
  }

  .crop3-seedling.hit {
    background-image: url('../images/crop3-seedling-destroyed.png');
  }

  .crop4-hot-pepper {
    background-image: url('../images/crop4-hot-pepper.png');
  }

  .crop4-hot-pepper.hit {
    background-image: url('../images/crop4-hot-pepper-destroyed.png');
  }

  .crop5-carrot {
    background-image: url('../images/crop5-carrot.png');
  }

  .crop5-carrot.hit {
    background-image: url('../images/crop5-carrot-destroyed.png');
  }

  .hit {
    background-color: dodgerblue;
    border: green;
  }

  .miss {
    background-color: grey;
    border: green;
  }
}

.player2Grid {
  .crop1-lime {
    border: 1px solid blue;
  }

  .crop1-lime.hit {
    background-image: url('../images/crop1-lime-destroyed.png');
  }

  .crop2-peach {
    border: 1px solid blue;
  }

  .crop2-peach.hit {
    background-image: url('../images/crop2-peach-destroyed.png');
  }

  .crop3-seedling {
    border: 1px solid blue;
  }

  .crop3-seedling.hit {
    background-image: url('../images/crop3-seedling-destroyed.png');
  }

  .crop4-hot-pepper {
    border: 1px solid blue;
  }

  .crop4-hot-pepper.hit {
    background-image: url('../images/crop4-hot-pepper-destroyed.png');
  }

  .crop5-carrot {
    border: 1px solid blue;
  }

  .crop5-carrot.hit {
    background-image: url('../images/crop5-carrot-destroyed.png');
  }

  .hit {
    background-color: dodgerblue;
    border: green;

  }
  .miss {
    background-color: grey;
    border: green;
  }
}

.scoreBoardPlayer1, .scoreBoardPlayer2 {
display:flex;
flex-wrap: wrap;
justify-content: center;
}

// .p2score1 {
//     background-image: url("../images/crop1.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//
//   }
// .scoreBoardPlayer1 .crop1-lime.hit {
//     background-image: url("../images/crop1-hit.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
// .scoreBoardPlayer1 .crop2-peach {
//     background-image: url("../images/crop2.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
// .scoreBoardPlayer1 .crop2-peach.hit {
//     background-image: url("../images/crop2-hit.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
// .scoreBoardPlayer1 .crop3-seedling {
//     background-image: url("../images/crop3.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
// .scoreBoardPlayer1 .crop3-seedling.hit {
//     background-image: url("../images/crop3-hit.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
// .scoreBoardPlayer1 .crop4-hot-pepper {
//     background-image: url("../images/crop4.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
// .scoreBoardPlayer1 .crop4-hot-pepper.hit {
//     background-image: url("../images/crop4-hit.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
// .scoreBoardPlayer1 .crop5-carrot {
//     background-image: url("../images/crop5.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
// .scoreBoardPlayer1 .crop5-carrot.hit {
//     background-image: url("../images/crop5-hit.png");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     height: 80px;
//     width: 80px;
//   }
//
//   .scoreBoardPlayer2 .crop1-lime {
//       background-image: url("../images/crop1.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop1-lime.hit {
//       background-image: url("../images/crop1-hit.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop2-peach {
//       background-image: url("../images/crop2.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop2-peach.hit {
//       background-image: url("../images/crop2-hit.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop3-seedling {
//       background-image: url("../images/crop3.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop3-seedling.hit {
//       background-image: url("../images/crop3-hit.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop4-hot-pepper {
//       background-image: url("../images/crop4.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop4-hot-pepper.hit {
//       background-image: url("../images/crop4-hit.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop5-carrot {
//       background-image: url("../images/crop5.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }
//   .scoreBoardPlayer2 .crop5-carrot.hit {
//       background-image: url("../images/crop5-hit.png");
//       background-position: center;
//       background-size: cover;
//       background-repeat: no-repeat;
//       height: 80px;
//       width: 80px;
//     }


button {
  background: gold;
  color: grey;
  padding: 5px;
  font-size: 20px;
}

#reset {
  display: none;
}

video {
  margin: 4px;
}
