* {
  box-sizing: border-box;
}

h1, h2, p {
  font-family: sunflower, sans-serif;
}

.game {

  margin: auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
}

.player1Grid, .player2Grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.player1Grid div, .player2Grid div  {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid grey;
}
.player1Grid {
  .crop1 {
    background-color: yellow;
    // background-image: url("http://clipartmag.com/images/vegetable-drawings-3.jpg");
    background-size: contain;
  }

  .crop2 {
    background-color: red;
  }

  .crop3 {
    background-color: blue;
  }

  .crop4 {
    background-color: green;
  }
  .crop5 {
    background-color: purple;
  }
  .hit {
    background-color: dodgerblue;
    border: green;
  }

  .miss {
    background-color: grey;
    border: green;
  }
}

.player2Grid {
  .crop1 {
    border: 2px solid yellow;
  }

  .crop2 {
    border: 2px solid red;
  }

  .crop3 {
    border: 2px solid  blue;
  }

  .crop4 {
    border: 2px solid  green;
  }
  .crop5 {
    border: 2px solid  purple;
  }
  .hit {
    background-color: dodgerblue;
    border: green;

  }

  .miss {
    background-color: grey;
    border: green;

  }
}

#start.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
